<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @advert.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @advert.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @advert.year %>
</p>

<p>
  <strong>Seller type:</strong>
  <%= @advert.seller_type %>
</p>

<p>
  <strong>Lede:</strong>
  <%= @advert.lede %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @advert.date_posted %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advert.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @advert.condition %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @advert.odometer %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @advert.drive %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @advert.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @advert.interior_color %>
</p>

<p>
  <strong>Title status:</strong>
  <%= @advert.title_status %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @advert.transmission %>
</p>

<p>
  <strong>Body:</strong>
  <%= @advert.body %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @advert.trim %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @advert.vin %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @advert.vehicle_id %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
